.container-fluid {
  /* text-align:center !important; */
  margin-bottom: 5em;
}

/* add drop shadow to login form  */
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2em;
}

.jumbotron {
  /* background-color: rgb(202, 202, 202); */
  padding-bottom:10px;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #AA5CB2;
}

.jumbotron>h1 {
  text-align: center;
  padding-top:1em;
}

form {
  padding-bottom:3em;
}

/* seperate out the elements in the form */
.form-group {
  margin:15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

/* bring login and signup title down a bit  */
 form > ul {
  padding-top:1.5em;

}

li {
  display: inline-flex;  
}

/* Log in */
ul > li:nth-child(1) {
  margin-left: 1em;
}

/* signup  */
ul > li:nth-child(2) {
  margin-left: 7em;
  margin-right:1px;
  color: #AA5CB2;
}


ul {
  padding-top: 2em;
}

/* labels in the form  */
.form-label {
  margin-top:1em;
}

input {
  border-bottom:solid;
}

.form-check {
  margin-top:1em;
}

/* login button  */
#login {
  margin-top:1em;
  background-color:#AA5CB2;
  border-radius: 15px;
  border-color:#AA5CB2;
  width:100%;
}